@import "./resources/_imports.scss";

@media (min-width: 576px){
    .modal-dialog-custom > .modal-content > .modal-body > .container {
        width: initial;
        max-width: 100%;
    }
}

.modal-dialog-custom{
        max-width:100%;
        margin:30px auto;
} 

@media (min-width: 768px){
    .modal-dialog-custom{
        max-width:80% ;
        margin:30px auto;
    } 
}

.custom-modal{
    border-radius:0px;
    border:none;
    @include shadow1();
}
