@import "./resources/imports";
@import "./notification.scss";
@import "./custom-modal.scss";

body {
    background: $BG;
    padding-top:15px;
}

.home-card{
    cursor:pointer;
    color:$FONT_COLOR!important;
}

.home-card:hover {
    background:rgba(0,0,0,.01);
}

#businessSlides{
    min-height: 500px;
    background:black;

    .carousel-inner{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.carousel-control-button{
    background:transparent;
    border:0px;
}

.img-fluid-custom-settings{
    max-height:500px;
    margin:auto;
}

@media (min-width: 576px) and (max-width: 767px){
    .card-columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;

    } 
}

.full-card{
    border:0px;
}

.title-link{
    color:$FONT_COLOR !important;
}

.card-comment{
    border:0px;
}

.reviews{
    background: rgba(40,40,40,0.04);
}

.custom-button{
    @include shadow1();
    border-radius:0px;
    &:focus{
        @include shadow1();
    }
    cursor:pointer;
}

.shadow1{
    @include shadow1();
}

.yelp-button{
    color:$FONT_COLOR;
    height:100%;
    padding:15px;
    &:hover{
        background:#D32323;
        color:white !important;
        @include shadow1();
    }
    &:focus{
        box-shadow: none;
        color:$FONT_COLOR;
    }
}