body {
    background: #eee;
    padding-top:15px;
}

.home-card{
    cursor:pointer;
    color:#292b2c!important;
}

.home-card:hover {
    background:rgba(0,0,0,.01);
}

#businessSlides{
    min-height: 500px;
    background:black;
}
#businessSlides > .carousel-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-button{
    background:transparent;
    border:0px;
}

.img-fluid-custom-settings{
    max-height:500px;
    margin:auto;
}

.modal-dialog-custom{
        max-width:100%;
        margin:30px auto;
} 

@media (min-width: 768px){
    .modal-dialog-custom{
        max-width:80% ;
        margin:30px auto;
    } 
}

@media (min-width: 576px) and (max-width: 767px){
    .card-columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;

    } 
}

.full-card{
    border:0px;
}

.title-link{
    color:#292b2c !important;
}